.card{
    margin: auto;
    margin-top: 10%;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 12px #35025c46;
    padding: 10px;
}

.input{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none; 
    margin-bottom: 10px;
}

.input:focus{
    background-color: #e8cefc28;
    border-bottom: 2px solid #35025c
}

.addBtn{
    border: 1px solid #35025c;
    height: 35px;
    width: 120px;
    color: white;
    background-color: #6f359bef;
}

.addBtn:focus{
    background-color: #9e4ddcef;
}

.astric{
    color: red;
}